[Desktop Entry]
Encoding=UTF-8
Name=Link to Home - Microprocessor Systems (CS2021/CS3D2) : Trinity College Dublin
Type=Link
URL=https://www.scss.tcd.ie/CourseModules/CS2021/
Icon=text-html
