[Desktop Entry]
Encoding=UTF-8
Name=Link to Queue - Linked List Implementation
Type=Link
URL=http://dsvproject.github.io/dsvproject/code/queueLinkedList.html
Icon=text-html
Name[en_IE]=queueLinkedListImplementation
