[Desktop Entry]
Encoding=UTF-8
Name=Link to Stack - Linked List Implementation
Type=Link
URL=http://dsvproject.github.io/dsvproject/code/stackLinkedList.html
Icon=text-html
Name[en_IE]=stackLinkedListImplementation
