[Desktop Entry]
Encoding=UTF-8
Name=Link to Boost.Asio - 4. TCP Socket Programming- 2017
Type=Link
URL=http://www.bogotobogo.com/cplusplus/Boost/boost_AsynchIO_asio_tcpip_socket_server_client_timer_bind_handler_multithreading_synchronizing_network_D.php
Icon=text-html
