[Desktop Entry]
Encoding=UTF-8
Name=Link to C++ Tutorial: Sockets - Server & Client - 2017
Type=Link
URL=http://www.bogotobogo.com/cplusplus/sockets_server_client.php
Icon=text-html
