[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction to BSD Sockets - TreckWiki
Type=Link
URL=http://wiki.treck.com/Introduction_to_BSD_Sockets
Icon=text-html
