[Desktop Entry]
Encoding=UTF-8
Name=Link to Qt5 Tutorial QTcpSocket - 2017
Type=Link
URL=http://www.bogotobogo.com/Qt/Qt5_QTcpSocket.php
Icon=text-html
