[Desktop Entry]
Encoding=UTF-8
Name=Link to cs2014/examples/tree at master · sftcd/cs2014
Type=Link
URL=https://github.com/sftcd/cs2014/tree/master/examples/tree
Icon=text-html
Name[en_IE]=link to tree
