[Desktop Entry]
Encoding=UTF-8
Name=Link to CS2022
Type=Link
URL=https://www.scss.tcd.ie/Michael.Manzke/index.php/mm-teaching/undergraduate/cs2022
Icon=text-html
