[Desktop Entry]
Encoding=UTF-8
Name=Link to CS2010: Algorithms & Data Structures - Michaelmas Term 2015/16 - CS2010
Type=Link
URL=https://www.scss.tcd.ie/Vasileios.Koutavas/teaching/cs2010/mt1718/
Icon=text-html
