[Desktop Entry]
Encoding=UTF-8
Name=Link to School of Computer Science and Statistics - Trinity College Dublin
Type=Link
URL=https://www.scss.tcd.ie/CourseModules/CS2041/
Icon=text-html
Name[en_IE]=Course Website 2
