[Desktop Entry]
Encoding=UTF-8
Name=Link to PowerPoint Presentation
Type=Link
URL=https://algs4.cs.princeton.edu/lectures/44DemoDijkstra.pdf
Icon=application-pdf
Name[en_IE]=AcrylicsSP
