[Desktop Entry]
Encoding=UTF-8
Name=Link to Doubly Linked List
Type=Link
URL=http://dsvproject.github.io/dsvproject/code/doublyLinkedList.html
Icon=text-html
Name[en_IE]=doublyLinkedList
