[Desktop Entry]
Encoding=UTF-8
Name=Link to Queue - Array Implementation
Type=Link
URL=http://dsvproject.github.io/dsvproject/code/queueArray.html
Icon=text-html
Name[en_IE]=queueArrayImplementation
