[Desktop Entry]
Encoding=UTF-8
Name=Link to Stack - Array Implementation
Type=Link
URL=http://dsvproject.github.io/dsvproject/code/stackArray.html
Icon=text-html
Name[en_IE]=stackArrayImplementation
